<!DOCTYPE HTML>
<html>

<head>
    <title>All Member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<center>
    <h3> Current member in the table Member</h3>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Date of Birth</th>
            <th>Address</th>
            <th>Phone</th>
            <th>RewardPoint</th>
            <th>Membership Paid</th>
            <th>Operation</th>
        </tr>
        <tr th:each="member : ${allMember}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.firstName}"></td>
            <td th:text="${member.lastName}"></td>
            <td th:text="${member.dateOfBirth}"></td>
            <td th:text="${member.address}"></td>
            <td th:text="${member.phone}"></td>
            <td th:text="${member.rewardPoint}"></td>
            <td th:text="${member.membershipPaid}"></td>
            <td>
                <form th:action="@{/member/delete}" th:object="${member}" method="post">
                    <input type="hidden" name="id" th:value="${member.id}">
                    <button type="submit">Delete</button>
                </form>

                <form th:action="@{/member/update}" th:object="${member}" method="get">
                    <input type="hidden" name="id" th:value="${member.id}">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <form th:action="@{/member/add}" th:object="${toAdd}" method="post">
        ID: <input type="number" th:field="*{id}" required/>
        First Name: <input type="text" th:field="*{firstName}" required/>
        Last Name: <input type="text" th:field="*{lastName}" required/><br><br>
        Date of Birth: <input type="date" th:field="*{dateOfBirth}"/>
        Address: <input type="text" th:field="*{address}"/>
        Phone: <input type="number" th:field="*{phone}" required/>
        Reward Point: <input type="number" th:field="*{rewardPoint}"/>
        Membership Paid: <input type="text" th:field="*{membershipPaid}"/>

        <p class="input_error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</p>
        <p class="input_error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</p>
        <p class="input_error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</p>

        <br>
        <br>
        <button type="submit">Insert</button>
    </form>


</center>
</body>

</html>