<!DOCTYPE HTML>
<html>

<head>
    <title>All OrderItem</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<center>
    <h3> Current order item in the table OrderItem</h3>
    <table>
        <tr>
            <th>SalesRecordId</th>
            <th>ProductId</th>
            <th>Paid Price</th>
            <th>Date of Birth</th>
            <th>Quantity</th>
            <th>Operation</th>
        </tr>
        <tr th:each="orderItem : ${orderItemList}">
            <td th:text="${orderItem.salesRecordId}"></td>
            <td th:text="${orderItem.productId}"></td>
            <td th:text="${orderItem.paidPrice}"></td>
            <td th:text="${orderItem.quantity}"></td>
            <td>
                <form th:action="@{/orderItem/delete}" th:object="${orderItem}" method="post">
                    <input type="hidden" name="salesRecordId" th:value="${orderItem.salesRecordId}">
                    <input type="hidden" name="productId" th:value="${orderItem.productId}">
                    <button type="submit">Delete</button>
                </form>

                <form th:action="@{/orderItem/update}" th:object="${orderItem}" method="get">
                    <input type="hidden" name="salesRecordId" th:value="${orderItem.salesRecordId}">
                    <input type="hidden" name="productId" th:value="${orderItem.productId}">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <form th:action="@{/orderItem/add}" th:object="${toAdd}" method="post">
        SalesRecordId: <input type="number" th:field="*{salesRecordId}" required/>
        ProductId: <input type="number" th:field="*{productId}" required/>
        Paid Price: <input type="number" step="0.01" th:field="*{paidPrice}"/>
        Quantity: <input type="number" th:field="*{quantity}"/>

        <br>
        <br>
        <button type="submit">Insert</button>
    </form>


</center>
</body>

</html>