<!DOCTYPE HTML>
<html>

<head>
    <title>All Supplier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<center>
    <h3> Current supplier in the table Supplier</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Restock Date</th>
            <th>Supply Price</th>
            <th>Amount</th>
            <th>Product ID</th>
            <th>Operation</th>
        </tr>
        <tr th:each="supplier : ${allSupplier}">
            <td th:text="${supplier.id}"></td>
            <td th:text="${supplier.name}"></td>
            <td th:text="${supplier.restockDate}"></td>
            <td th:text="${supplier.supplyPrice}"></td>
            <td th:text="${supplier.amount}"></td>
            <td th:text="${supplier.productID}"></td>
            <td>
                <form th:action="@{/supplier/delete}" th:object="${supplier}" method="post">
                    <input type="hidden" name="id" th:value="${supplier.id}">
                    <button type="submit">Delete</button>
                </form>

                <form th:action="@{/supplier/update}" th:object="${supplier}" method="get">
                    <input type="hidden" name="id" th:value="${supplier.id}">
                    <button type="submit">Update</button>
                </form>
            </td>
        </tr>
    </table>

    <br>
    <hr>
    <br>


    <form th:action="@{/supplier/add}" th:object="${toAdd}" method="post">

        ID: <input type="number" th:field="*{id}" required/>
        Name: <input type="text" th:field="*{name}" required/>
        Restock Date: <input type="date" th:field="*{restockDate}"/>
        Supply Price: <input type="number" th:field="*{supplyPrice}"/>
        Amount: <input type="number" th:field="*{amount}"/>
        Product ID: <input type="number" th:field="*{productID}"/>

        <p class="input_error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Supplier ID Error</p>
        <p class="input_error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Supplier Name Error</p>

        <br>
        <br>
        <button type="submit">Insert</button>
    </form>


</center>
</body>

</html>