<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result Supplier</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<center>
    <h1>Supplier Deleted</h1>
    <p th:text="'id: ' + ${supplier.id}"/>
    <p th:text="'Name: ' + ${supplier.name}"/>
    <p th:text="'Restock Date: ' + ${supplier.restockDate}"/>
    <p th:text="'Supply Price: ' + ${supplier.supplyPrice}"/>
    <p th:text="'Amount: ' + ${supplier.amount}"/>
    <p th:text="'Product ID: ' + ${supplier.productID}"/>
    <a href="/supplier/delete">Delete another supplier</a> <br>
    <a href="/index.html">Home</a>
</center>
</body>
</html>
