<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<center>
    <h1>Product Deleted</h1>
    <p th:text="'id: ' + ${product.id}"/>
    <p th:text="'Name: ' + ${product.name}"/>
    <p th:text="'Retail Price: ' + ${product.retailPrice}"/>
    <p th:text="'Category: ' + ${product.category}"/>
    <p th:text="'MemberDiscount: ' + ${product.memberDiscount}"/>
    <p th:text="'stockInfo: ' + ${product.stockInfo}"/>
    <p th:text="'SupplierID: ' + ${product.supplierID}"/>
    <a href="/product/delete">Delete another product</a> <br>
    <a href="/index.html">Home</a>
</center>
</body>
</html>
