<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Result Member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
<center>
    <h1>Member Added</h1>
    <p th:text="'First Name: ' + ${member.firstName}"/>
    <p th:text="'Last Name: ' + ${member.lastName}"/>
    <p th:text="'Date of Birth: ' + ${member.dateOfBirth}"/>
    <p th:text="'Address: ' + ${member.address}"/>
    <p th:text="'Phone: ' + ${member.phone}"/>
    <p th:text="'Reward Point: ' + ${member.rewardPoint}"/>
    <a href="/member">Add another member</a> <br>
    <a href="/index.html">Home</a>
</center>
</body>
</html>
