<!DOCTYPE HTML>
<html>

<head>
    <title>Query#3 Result</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<center>
    <h3> Query#3 Result</h3>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Retail Price</th>
            <th>Category</th>
            <th>Member Discount</th>
            <th>StockInfo</th>
            <th>SupplierId</th>
        </tr>
        <tr th:each="product : ${allProduct}">
            <td th:text="${product.id}"></td>
            <td th:text="${product.name}"></td>
            <td th:text="${product.retailPrice}"></td>
            <td th:text="${product.category}"></td>
            <td th:text="${product.memberDiscount}"></td>
            <td th:text="${product.stockInfo}"></td>
            <td th:text="${product.supplierID}"></td>
    </table>

    <br>
    <hr>
    <br>

    <a href="/index.html">Home</a>


</center>
</body>

</html>