<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Product</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<center>
    <h1>Update a product in the table</h1>
    <form action="#" th:action="@{/product/update}" th:object="${product}" method="post">
        <p>Product ID: <input type="number" th:field="*{id}"/></p>
        <p class="input_error" th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Product ID Error</p>

        <p>Product Name: <input type="text" th:field="*{name}"/></p>
        <p class="input_error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Product Name Error</p>

        <p>Retail Price: <input type="number" th:field="*{retailPrice}"/></p>
        <p>Category: <input type="text" th:field="*{category}"/></p>
        <p>Member Discount: <input type="int" th:field="*{memberDiscount}"/></p>
        <p>Stock Info: <input type="text" th:field="*{stockInfo}"/></p>
        <p>Supplier ID: <input type="number" th:field="*{supplierID}"/></p>

        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</center>
</body>

</html>