<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Update Member</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
<center>
    <h1>Update a member in the table</h1>
    <form action="#" th:action="@{/member/update}" th:object="${member}" method="post">
        <p>First Name: <input type="text" th:field="*{firstName}"/></p>
        <p class="input_error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name Error</p>

        <p>Last Name: <input type="text" th:field="*{lastName}"/></p>
        <p class="input_error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name Error</p>

        <p>Date of Birth: <input type="date" th:field="*{dateOfBirth}"/></p>
        <p>Address: <input type="text" th:field="*{address}"/></p>
        <p>Phone: <input type="number" th:field="*{phone}"/></p>
        <p class="input_error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}">Phone Error</p>

        <p>Reward Point: <input type="number" th:field="*{rewardPoint}"/></p>
        <p>Membership Paid: <input type="text" th:field="*{membershipPaid}"/></p>
        <p><input type="submit" value="Submit"/> <input type="reset" value="Reset"/></p>
    </form>
</center>
</body>

</html>